/*Variables*/

$color-one: #ffcc25; /*orange*/
$font-logo: 'Lobster', serif;
$font-title: 'Rubik', sans-serif;
$font-subtitle: 'Source-Serif-Pro', serif;
$transition: all 0.5s;

/*Global*/

.container {
    max-width: 1140px;
}

body {
    text-align: center;
    margin: 0;
    background: #fff;
    color: #3d3d3d; 
    font-size: 16px;
}

section {
    padding: 96px 0;
}

a {
    font-family: $font-title;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h5 {
    font-family: $font-title;
}

h3 {
    font-family: $font-title;
}

h2 {
    font-family: $font-subtitle;
    font-size: 40px;
}

.splash h2 {
    font-weight: 200;
}

h1 {
    font-family: $font-title;
    font-size: 64px;
    margin-top: 15px;
}

p {
    font-family: $font-subtitle;
}

.page-subtitle {
    margin-top: 0;
    
}

.section-title {
    font-family: $font-title;
    margin-bottom: 5px;
}

/*Navigation*/

.navigation {
    padding: 34px 0 0 0;
}

.navigation a {
    color: #ffffff;
    font-size: 16px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    display: block;
    text-align: right;
    list-style-type: none;
    overflow: hidden;
}

.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
}

.navigation ul li a:hover {
    color: $color-one;
}

.logo {
    float:left;
}

.navigation .logo a {
    font-family: $font-logo;
    color: $color-one;
    font-size: 23px;
}

/*Nav&Header*/

.background-image {
    padding: 0 0 96px 0;
    background-image: url("https://i.postimg.cc/kgRRJ3QB/pexels-adrien-olichon-2387793.jpg");
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed;
}

/*Header*/

header {
    color: #ffffff;
    height: 500px;
    display: flex;
    padding: 39px 0 0 0;
}

header .container {
    margin: auto;
    max-width: 70%;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px au2to 0 auto;
    padding: 20px 30px;
    border-radius: 3px;
    border: 0;
    outline: none;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: $color-one;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn:hover {
    background-color: darken($color-one, 10%);
}

/*Services*/

.service {
    margin-top: 48px;
}

.fa-solid {
    font-size: 35px;
    color: $color-one;
    border-radius: 100%;
    border-color: $color-one;
    border-width: 3px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    height: 70px;
    width: 70px;
    line-height: 60px;
}


/*Our Portfolio*/

.our-portfolio {
    background-color: #f0f0f0;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card {
    margin-top: 15px;
}

/*Footer*/

.list-inline {
    display: inline-block;
}

footer ul {
    margin: 48px 0;
    list-style-type: none;
}

footer li {
    font-size: 0;
    display: inline-block;
}

footer .fa-brands {
    font-size: 17px;
    color: #fff;
    background-color: black;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-position: 100% 0;
    text-align: center;
}

footer p {
    padding: 0;
    float:left;
}
/**/